<div class="login-page" [@routerTransition]>
  <div class="row justify-content-md-center">
    <div class="col-md-4">
      <img src="assets/images/logo.png" width="150px" class="user-avatar" />
      <h1>Reset password</h1>
      <form [formGroup]="resetForm" (ngSubmit)="reset()">
        <div class="form-content">
          <div class="form-group">
            <input type="password" formControlName="password" [(ngModel)]="Formdata.password" class="form-control input-underline input-lg"
              id="password" placeholder="New Password *">
            <app-form [control]="resetForm.controls.password"></app-form>
          </div>
          <div class="form-group">
            <input type="password" formControlName="confirmpassword" [(ngModel)]="Formdata.confirmpassword" class="form-control input-underline input-lg"
              id="confirmpassword" placeholder="Confirm Password *">
            <app-form [control]="resetForm.controls.confirmpassword"></app-form>
          </div>

        </div>
        <input class="btn rounded-btn" type="submit" [disabled]="!resetForm.valid" value="Submit">

      </form>
    </div>
  </div>