<div class="login-page" [@routerTransition]>
    <div class="row justify-content-md-center">
        <div class="col-md-4">
            <img src="assets/images/logo.png" width="150px" class="user-avatar">
            <h1>Forgot password</h1>
            <form [formGroup]="passwordForm" (ngSubmit)="forgetPassword()">
                <div class="form-content">
                    <div class="form-group">
                        <input type="email" formControlName="email" [(ngModel)]="Formdata.email" class="form-control input-underline input-lg" id="email"
                            placeholder="Email *">
                        <app-form [control]="passwordForm.controls.email"></app-form>
                    </div>
                </div>
                <button class="btn rounded-btn" type="submit" [disabled]="!passwordForm.valid"> Submit </button>
            </form>
        </div>
    </div>